*{
    padding: 0;
    margin: 0;
    outline: 1px solid red; /* Debug Only*/
}

.body {
    display: flex;
    align-items: center;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    max-width: 80em;

}


.game {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    max-width: 80em;

}





