*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    outline: 1px solid red; /* Debug Only*/
}

.body {
    display: flex
}

.container {
    max-width: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: 2em;
}


.game {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    font-size: 2em;
}


.choices ul {
    display: flex;
    padding: 2em;
    justify-content: space-between;
    list-style: none;
    font-size: 2em;
}

.choices ul li {
    padding: 2em;
    background-color: rgb(77, 77, 243);
    color: white;
}

.choices ul li:hover {
    background-color: blue;
}
